@font-face {
  font-family: 'poesis';
  src:url('../../fonts/poesis.eot?hi9fss');
  src:url('../../fonts/poesis.eot?#iefixhi9fss') format('embedded-opentype'),
    url('../../fonts/poesis.woff?hi9fss') format('woff'),
    url('../../fonts/poesis.ttf?hi9fss') format('truetype'),
    url('../../fonts/poesis.svg?hi9fss#poesis') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'poesis';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-favorite-empty:before {
  content: "\e600";
}
.icon-favorite-full:before {
  content: "\e601";
}
.icon-last-articles:before {
  content: "\e602";
}
.icon-poesis-content:before {
  content: "\e603";
}
.icon-read-empty:before {
  content: "\e604";
}
.icon-read-full:before {
  content: "\e605";
}
.icon-reset:before {
  content: "\e606";
}
.icon-search:before {
  content: "\e607";
}
.icon-settings:before {
  content: "\e608";
}



body ::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}
body ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .1);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  border-width: 1px 1px 1px 6px;
}
body ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
body ::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
body ::-webkit-scrollbar-corner {
  background: transparent;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow-y: scroll;
  margin:0;
  box-sizing: border-box;
}

body {

    color:#4e5860;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;

}
/* -------------------------------- 

Primary style

-------------------------------- */
a {
  color: #4e5860;
  text-decoration: none;
}

img {
  max-width: 100%;
}
strong {
  font-weight:bold;
}

header {

background-color:rgba(248, 249, 250, 0.91);
  border-bottom:1px solid #fa2a4a;
   z-index: 999;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);  
  position:fixed;
width:100%;
margin:0;
}


ul#nav {
width: 55%;
min-width: 270px;
margin:0 auto;
 text-align: center;
}
@media only screen and (max-width: 680px) {
  ul#nav {
    width: 100%;
  }

  }
i.top-big {
  font-size: 2.3em;
text-align: center;
}

#nav p {
  text-align:center;
  clear:both;
  font-family: 'Montserrat', Helvetica, sans-serif; font-weight: 400;
 letter-spacing: -1px;
}


#nav, #reading-settings {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

#nav > li {
  display: inline;
  position: relative;
  margin: 0.7% 1% 0.7% 0;
  display: inline-block;
  padding: 0 1%;
  width: 20%;
  text-decoration: none;
  font-size: .9em;
  color: #5b4e60;
}
#nav > li.current > a {

color:#fa2a4a;

}


.star, #nav > li > a {
  font-size: 2em;
  text-align:center;
  display: inline-block;
  margin: 0;
  padding: 0 1%;
  text-decoration: none;
  font-size: .9em;
  color: #5b4e60;
  }

#nav > li > a:hover,
#nav > li > a:focus,
#nav > li.current-menu-item > a,
#nav > li.current-menu-ancestor > a,
#reading-settings a:hover,
#reading-settings a:focus {
  transition: all 0.7s ease-out;
  color:#fa2a4a;

}
#cat::after {
  /* small arrow icon */
  content: '';
  position: absolute;
  left: 13%;
top: 36px;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../../img/icon-small-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
#cat.is-open::after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
  /* small arrow rotation */
}

@media only screen and (max-width: 480px) {
  #cat::after, #cat.is-open::after{
    display:none;
  }
}
/* Categories menu */
#reading-settings {
    position: absolute;
    width: 162px;
    right: 29%;
top: 44px;
padding:.3em;
    z-index: 999;
    background-color: #F1F1F1;
    border-bottom:3px solid #fa2a4a;          
    box-shadow: 0 1px 3px #000;
}

#reading-settings a {
  font-size: 1.5em;
  height:30px;
  display: block;
  padding: 1% 2%;
  text-decoration: none;
  color: #5b4e60;
}

#reading-settings {
  margin: 0 auto;
  cursor: pointer;
  z-index: 10;
}


#reading-settings ul {
  color:#FA2A4A;
  background: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#reading-settings li {
overflow: hidden;
  /* this way the placehodler is alway visible */
}
#reading-settings li:last-child a {
  border-radius: 0 0 .25em .25em;
}
#reading-settings a {
  display: block;
  font-size: 16px;
  margin-top: .4em
  font-size: 1rem;
}
#reading-settings a.selected {
  background: #FA2A4A;
  color: #FFF;
}
.no-touch #reading-settings a.selected:hover {
  background: #1f858e;
}

#reading-settings.is-open ul li {
  display: block;
}

.small-settings {
  float:left;
  width: 23%;
  text-align: left;
  font-size:1.4em;
}
.icon-reset {
  width: 100%;
text-align: center;
}
#reading-settings  p {
 float:left;
 text-align:left;
  padding-top: .2em;
  clear:none;

}

#reading-settings input[type=search]{
  height: 35px;
  margin-bottom: .8em;
}
input:focus { outline: none; }

#nav input[type=checkbox] {
  -webkit-appearance: none;
  -webkit-box-shadow: transparent;
  border: 0;
  display: inline-block;
  font-size: 15px;
  line-height: 1em;
  margin-left: -9%;
  padding: 0;
  cursor:pointer;
  width: 1.25em;
  height: 1.25em;
  -webkit-border-radius: 0.25em;
  vertical-align: text-top;
 }

#nav input[type=checkbox].star:before {
font-family:'poesis';
  content: "\e600";
  font-size:2.1em;
  color:#5b4e60;
}

#nav input[type=checkbox].star:checked:before {
  font-family:'poesis';
  content: "\e601";
  font-size:2.1em;
  color:#5b4e60;

}

p.favori {
  font-size:.9em;
}



/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  padding: 6%;
  max-width: 650px;
  margin: 0 auto;
  overflow:hidden;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-gallery-container {
  padding-top: 2em;
  margin:0 auto;
}


.cd-filter {
  position: fixed;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  z-index: 10;
}
.cd-filter::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 2%;
  display: inline-block;
  width: 22px;
  height: 22px;
background: url("../img/cerclelogo.svg") no-repeat center center;

}
.cd-filter::after {
  /* small arrow icon */
  content: '';
  position: absolute;
  right: 14px;
  top: 9%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/icon-small-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}

.cd-filter ul {
  color:#FA2A4A;
  margin-top: -26px;
  background: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cd-filter li {
  display: none;
}
.cd-filter li:first-child {
  display: block;
  /* this way the placehodler is alway visible */
}
.cd-filter li:last-child a {
  border-radius: 0 0 .25em .25em;
}
.cd-filter a {
  display: block;
  height: 60px;
  line-height: 65px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.cd-filter a.selected {
  background: #FA2A4A;
  color: #FFF;
}
.no-touch .cd-filter a.selected:hover {
  background: #1f858e;
}
.cd-filter.is-open::after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
  /* small arrow rotation */
}
.cd-filter.is-open ul li {
  display: block;
}
.cd-filter.is-open .placeholder a {
  opacity: .4;
  /* reduces the opacity of the placeholder on mobile when the menu is open */
}
@media only screen and (min-width: 768px) {
  .cd-filter {
    height:auto;
     
  }
  .cd-filter::after {
    display: none;
  }
  .cd-filter ul {
    background-color:#fff;
    position: static;
    box-shadow: none;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .cd-filter li {
    display: inline-block;
    margin: 0 .4em;
  }
  .cd-filter li:first-child {
    display: inline-block;
  }
  .cd-filter li.placeholder {
    display: none !important;
  }
  .cd-filter li.placeholder a {
    display: none;
  }
  .cd-filter a {
    display: inline-block;
    padding: 1em 2em;
    height: auto;
    width: auto;
    line-height: 1;
      }
  .no-touch .cd-filter a:hover {
    box-shadow: inset 0 0 0 2px rgba(56, 56, 56, 0.2);
  }
  .cd-filter a.selected:hover {
    box-shadow: none;
    /* removes the hover effect from the selected item */
  }
  .cd-filter.is-open ul li {
    display: inline-block;
  }
}

/* -------------------------------- 

xgallery 

-------------------------------- */
.cd-gallery {
  margin-top: 2em;
  position: relative;
  z-index: 5;
}
.cd-gallery > li {
  position: relative;
  margin-bottom: 1em;
}
.cd-gallery .cd-item-wrapper {
  /* this is the item that rotates */
  position: relative;
background: white;
border-radius: 0.25em;
}
.cd-gallery .cd-item-wrapper:after {
content: "";
display: table;
clear: both;
}

.timeline-date {
  position: absolute;
top: 0;
font-size: .73em;
font-weight:bold;
left: -53px;
width: 40px;
line-height: 2em;
background: white;
color:#4e5860;
}
.cd-gallery .cd-item-wrapper.is-switched .is-visible {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-animation: cd-rotate 0.5s;
  -moz-animation: cd-rotate 0.5s;
  animation: cd-rotate 0.5s;
}
.cd-gallery .cd-item-wrapper.is-switched .is-hidden {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-animation: cd-rotate-inverse 0.5s;
  -moz-animation: cd-rotate-inverse 0.5s;
  animation: cd-rotate-inverse 0.5s;
  opacity: 0;
}
.cd-gallery .cd-item-wrapper.is-switched .is-selected {
  opacity: 1;
}
.cd-gallery .cd-item-wrapper > li {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.25em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.cd-gallery .cd-item-wrapper > li img {
  display: block;
  width: 100%;
}
.cd-gallery li.is-visible {
  /* the front item, visible by default */
  position: relative;
  z-index: 5;
}
.cd-gallery li.is-hidden {
  /* the hidden items, right behind the front one */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cd-gallery li.is-selected {
  /* the next item that will be visible */
  z-index: 3 !important;
}
@media only screen and (min-width: 480px) {
  /* .cd-container {
    padding:0;
  }*/
  .cd-gallery > li {
    width: 70%;
    margin-right: 4%;
    margin-bottom: 1.2em;
  }
  .cd-gallery > li:nth-child(2n) {
    margin-right: 0;
  }

}
@media only screen and (min-width: 768px) {
   .cd-container {
    padding:0;
  }
  .cd-gallery .cd-item-wrapper{
    margin-left:10px;
  }
  .cd-gallery-container:before{

left: 50%;

}
  .cd-gallery > li {
    width: 46%;
    }

  .timeline-date {
    left: 295px;
     }
  .cd-gallery > li:nth-child(even){
    width: 46%;
    margin-top:25%;
    float: right;
  }
  .cd-gallery > li:nth-child(even) .timeline-date {
    left: -56px;
  }
  
}


/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-rotate {
  0% {
    -webkit-transform: perspective(800px) rotateY(0);
  }

  70% {
    -webkit-transform: perspective(800px) rotateY(200deg);
    /* this creates the bounce effect */
  }

  100% {
    -webkit-transform: perspective(800px) rotateY(180deg);
  }
}
@-moz-keyframes cd-rotate {
  0% {
    -moz-transform: perspective(800px) rotateY(0);
  }

  70% {
    -moz-transform: perspective(800px) rotateY(200deg);
    /* this creates the bounce effect */
  }

  100% {
    -moz-transform: perspective(800px) rotateY(180deg);
  }
}
@keyframes cd-rotate {
  0% {
    -webkit-transform: perspective(800px) rotateY(0);
    -moz-transform: perspective(800px) rotateY(0);
    -ms-transform: perspective(800px) rotateY(0);
    -o-transform: perspective(800px) rotateY(0);
    transform: perspective(800px) rotateY(0);
  }

  70% {
    -webkit-transform: perspective(800px) rotateY(200deg);
    -moz-transform: perspective(800px) rotateY(200deg);
    -ms-transform: perspective(800px) rotateY(200deg);
    -o-transform: perspective(800px) rotateY(200deg);
    transform: perspective(800px) rotateY(200deg);
    /* this creates the bounce effect */
  }

  100% {
    -webkit-transform: perspective(800px) rotateY(180deg);
    -moz-transform: perspective(800px) rotateY(180deg);
    -ms-transform: perspective(800px) rotateY(180deg);
    -o-transform: perspective(800px) rotateY(180deg);
    transform: perspective(800px) rotateY(180deg);
  }
}
@-webkit-keyframes cd-rotate-inverse {
  0% {
    -webkit-transform: perspective(800px) rotateY(-180deg);
  }

  70% {
    -webkit-transform: perspective(800px) rotateY(20deg);
    /* this creates the bounce effect */
  }

  100% {
    -webkit-transform: perspective(800px) rotateY(0);
  }
}
@-moz-keyframes cd-rotate-inverse {
  0% {
    -moz-transform: perspective(800px) rotateY(-180deg);
  }

  70% {
    -moz-transform: perspective(800px) rotateY(20deg);
    /* this creates the bounce effect */
  }

  100% {
    -moz-transform: perspective(800px) rotateY(0);
  }
}
@keyframes cd-rotate-inverse {
  0% {
    -webkit-transform: perspective(800px) rotateY(-180deg);
    -moz-transform: perspective(800px) rotateY(-180deg);
    -ms-transform: perspective(800px) rotateY(-180deg);
    -o-transform: perspective(800px) rotateY(-180deg);
    transform: perspective(800px) rotateY(-180deg);
  }

  70% {
    -webkit-transform: perspective(800px) rotateY(20deg);
    -moz-transform: perspective(800px) rotateY(20deg);
    -ms-transform: perspective(800px) rotateY(20deg);
    -o-transform: perspective(800px) rotateY(20deg);
    transform: perspective(800px) rotateY(20deg);
    /* this creates the bounce effect */
  }

  100% {
    -webkit-transform: perspective(800px) rotateY(0);
    -moz-transform: perspective(800px) rotateY(0);
    -ms-transform: perspective(800px) rotateY(0);
    -o-transform: perspective(800px) rotateY(0);
    transform: perspective(800px) rotateY(0);
  }
}

/* make our pages be full width and full height */
/* positioned absolutely so that the pages can overlap each other as they enter and leave */
.page        { 
  bottom:0; 
  position:relative; 
  text-align:center;
  top:0;  
  width:100%; 
}
.deleteDiv{
  font-size:2em;

}


.page a     {text-decoration: none;  }
#about      { color:#333; position:absolute; text-align:center; top:50px; width:100%; }


/* ARTICLES
============================================================================= */
#nav-article{
  top: 0;
width: 100%;
height:50px;
background-color: #f8f9fa;
position: fixed;
border-bottom:1px solid #fa2a4a;
z-index: 999;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
#nav-article img {
  max-width: 110px;
}
.back{
  float:left;
margin: .33em 0 0 1%;
}
.logo{

  float:right;
  margin:.5em 1% 0 0;
}

.clear{clear:both;}
.padding15{padding-top:15px;font-size:0;line-height:0;}
.padding20{padding-top:20px;font-size:0;line-height:0;}

#wrap-article{max-width:960px; margin:30px auto; display:block;padding: 5px;}
h1{color:#fa2a4a;text-align:center;margin:0px;font-weight:bold;}

h3 {
font-family: "Myriad Pro", Georgia, serif;
font-size: 24px;
line-height: 30px;
letter-spacing: 0px;
margin-top: 20px;
font-weight: bold;
margin-bottom: 5px;
}

h4 {
font-family: "Myriad Pro", Georgia, serif;
font-size: 20px;
line-height: 26px;
letter-spacing: 0px;
margin-top: 25px;
font-weight: bold;
margin-bottom: 5px;


}


.header{font-size: 30px;
line-height: 36px; font-family:"Myriad Pro", Georgia, serif;color:#fa2a4a;text-align:left;margin-top: .1em; margin-bottom: .2em;letter-spacing:-2px;word-break: normal;
}

.catekoi {
  margin-top: 1.5em;
text-align:left;
letter-spacing: 1px;
font-size: 0.7em;
font-family: Helvetica, sans-serif;
font-weight: bold;

}

.entry-meta{

  max-width:240px;
  float: left;
min-width: 120px;
width:24%;
margin: 34px 24px 34px 0;
padding: 0;
}

.entry-meta img{
  max-width:200px;
}
.entry-meta span {
 border-bottom: 1px solid rgba(0, 0, 0, 0.1);
display: block;
padding: 8px 0;
}

.entry-meta span:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.entry-content {
  float:left;
  width:71%;
  margin-top: 34px;
max-width: 696px;
}

@media only screen and (max-width: 560px) {
  .entry-meta {
    width:70%;
    float:none;
    display:block;
    margin:0 auto;
  }
  .entry-content {
    width:95%;
    float:none;
    display:block;
    margin:0 auto;

  }
}

.iframe {
  overflow-y: hidden;
}
.content-post {width:95%;left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        overflow: hidden;
position: relative;
text-align:left;
font-size: .7em;
line-height: 1.7em;
}

.content-post img {margin:20px auto;display: block;width:80%;height:auto;}
blockquote{
  -moz-column-span:all;
  -webkit-column-span:all;
  column-span:all;
  font-style:italic;
  font-size:16px;
  line-height:22px;
  font-weight:normal;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding:15px 0;
  
}
.intro-excerp{
padding: 0;
font-size: 18px;
line-height: 24px;
font-style: normal;
text-align: left;
}




/**
*
* Article nav
*
**/
.article-nav {
  overflow: hidden;
  position: relative;
}

.article-nav:before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
}

.article-nav-link {
  float: left;
  width: 50%;
  position: relative;
}
.article-nav-link:before {
  position: absolute;
  top: 21px;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
@media only screen and (min-width: 620px) {
  .article-nav-link:before {
    top: 25px;
    font-size: 26px;
    display: block;
    padding: 13px 10px;
    color: #ffffff;
    background: #3372df;
  }
}

.article-nav p {
  padding: 0;
  margin: 0;
}

.article-nav-link--prev {
  text-align: left;
  font-size:0.5em;
  line-height:1.7em;
  text-indent:5px;
  bottom: -6px;

  
}

@media only screen and (min-width: 620px) {
  .article-nav-link--prev p {
    display:block;
  }
}
.article-nav-link--next {
  text-align:right;
  font-size:0.5em;
  line-height:1.7em;
  text-indent:5px;
  bottom: -6px;
}



@media only screen and (min-width: 620px) {
  .article-nav-link--next p {
    display:block;
  }
}

.article-nav-count {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3000em;
  /* 26px */
  padding-top: 1.3000em;
  padding-bottom: 0;
  font-weight: 700;
}
@media only screen and (min-width: 800px) {
  .article-nav-count {
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.0000em;
    /* 26px */
    padding-top: 1.0000em;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 620px) {
  .article-nav-count {
    font-weight: 400;
  }
}
@media only screen and (min-width: 1081px) {
  .article-nav {
    max-width: 880px;
    margin: 0 auto;
  }
  .article-nav-link--prev img{
    max-width:300px;

  }

  .article-nav-link--next img{
    max-width:300px;

  }
}



/* PAGES
============================================================================= */
.page-home    { background:#ffffff; }
.page-about   { background:#E59400; color:#a55400; }
.page-contact   { background:#ffa6bb; color:#9e0000; }

/* ANIMATIONS
============================================================================= */

.page.ng-leave  { z-index:9999; }
.page.ng-enter  { z-index:8888; }


/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-leave         {
  -webkit-transform-origin: 0% 0%;
  -webkit-animation: slideOutLeft 0.25s both ease-in;
  -moz-transform-origin: 0% 0%;
  -moz-animation: slideOutLeft 0.25s both ease-in;
  transform-origin: 0% 0%;
  animation: slideOutLeft 0.25s both ease-in;
}
.page-home.ng-enter     {  
    -webkit-animation-name: animScale;
  animation-name: animScale;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
}

.page-article{
  background:#FFF;font-size:20px;font-family:Georgia,serif;top:0;bottom:0;left:0;right:0; height:100%;
    margin:0;
}


.page-article.ng-leave        {
    -webkit-animation:slideOutLeft 0.25s both ease-in;
  -moz-animation:slideOutLeft 0.25s both ease-in;
  animation:slideOutLeft 0.25s both ease-in;   
}
.page-article.ng-enter    {  
    -webkit-animation-name: animScale;
  animation-name: animScale;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
}

@-webkit-keyframes animScale {
  0% { opacity: 0; -webkit-transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
  100% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); }
}§

@keyframes animScale {
  0% { opacity: 0; -webkit-transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
  100% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); transform: translate3d(0,0,0) scale3d(1,1,1); }
}

/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(100%); }
  to    { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(100%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(100%); }
  to    { -webkit-transform: translateX(0); }
}

@-webkit-keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from  { transform:translateY(100%); }
  to    { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
  from  { -moz-transform:translateY(100%); }
  to    { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
  from  { -webkit-transform:translateY(100%); }
  to    { -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {  
  to    { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
  to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
  to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
  to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
